.container {
  max-width: 1500px !important;
}


.hero-section {
  background: url('/images/tupsula.jpg') center/cover no-repeat;
  padding: 5rem 0;
  color: white;
  text-align: center;
}



.measure-wide {
  max-width: 60% !important; /* or 80ch or 100ch */
}